<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.learn-anything</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>790627A4-87DA-408A-BC71-90FA3D9CDF36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>790627A4-87DA-408A-BC71-90FA3D9CDF36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E6665CD5-B125-4AC4-BF28-01A5DDE02431</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>790627A4-87DA-408A-BC71-90FA3D9CDF36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Search Learn Anything Website</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Learn Anything</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>learn</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>learn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./alfred-learn-anything search -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Mind Maps</string>
				<key>title</key>
				<string>Learn anything</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>790627A4-87DA-408A-BC71-90FA3D9CDF36</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://learn-anything.xyz/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>393216</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E6665CD5-B125-4AC4-BF28-01A5DDE02431</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to effectively use this workflow are found in the GitHub repository attached to this workflow.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>790627A4-87DA-408A-BC71-90FA3D9CDF36</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>E6665CD5-B125-4AC4-BF28-01A5DDE02431</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/alfred-learn-anything</string>
</dict>
</plist>
