<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.learn.anything</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E3F5B1F-5EA1-4271-952C-1B1897B454DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0AFED35D-0B15-4070-A6C4-E762A091EC86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60D56C11-AA30-44D1-82E2-67C0A0B87073</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2C61650C-01F2-4BC7-AAE0-8C31508A2833</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E8C3225-79D1-43C3-A4E3-583E4B6B152F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E3F5B1F-5EA1-4271-952C-1B1897B454DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>790627A4-87DA-408A-BC71-90FA3D9CDF36</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E8C3225-79D1-43C3-A4E3-583E4B6B152F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F774142-7D29-4E25-8B08-5CCEAA253E53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F774142-7D29-4E25-8B08-5CCEAA253E53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7FE3DF8-D5CD-4468-8CE0-BB050EF48F17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0AFED35D-0B15-4070-A6C4-E762A091EC86</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>View contributing guidelines</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>72B1AA05-3281-415B-9252-9036D705817A</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Edit list</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60D56C11-AA30-44D1-82E2-67C0A0B87073</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62FC303E-01BA-430E-BC35-C7365486A097</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>72B1AA05-3281-415B-9252-9036D705817A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AEABCB9D-9232-43D3-8640-84C9451203E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>790627A4-87DA-408A-BC71-90FA3D9CDF36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AEABCB9D-9232-43D3-8640-84C9451203E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2A341B0-792A-43F0-A4F7-7F2755274850</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Voloboev</string>
	<key>description</key>
	<string>Search Learn Anything</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Learn Anything</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>learn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./alfred-learn-anything topics -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search topics</string>
				<key>title</key>
				<string>Learn Anything</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>790627A4-87DA-408A-BC71-90FA3D9CDF36</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://learn-anything.xyz/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search learn anything</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "title" : "",
      "runningsubtext" : "",
      "subtext" : ""
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>3E3F5B1F-5EA1-4271-952C-1B1897B454DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7FE3DF8-D5CD-4468-8CE0-BB050EF48F17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search lists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>2C61650C-01F2-4BC7-AAE0-8C31508A2833</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>list</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>./alfred-learn-anything lists -q "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search curated lists</string>
				<key>title</key>
				<string>Curated lists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4F774142-7D29-4E25-8B08-5CCEAA253E53</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "title" : "",
      "runningsubtext" : "",
      "subtext" : ""
    },
    "variables" : {
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>3E8C3225-79D1-43C3-A4E3-583E4B6B152F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>62FC303E-01BA-430E-BC35-C7365486A097</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "${query//#readme}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0AFED35D-0B15-4070-A6C4-E762A091EC86</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>link</key>
					<string>{query}/blob/master/CONTRIBUTING.md#readme</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>60D56C11-AA30-44D1-82E2-67C0A0B87073</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "${query//#readme}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>72B1AA05-3281-415B-9252-9036D705817A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:link}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A2A341B0-792A-43F0-A4F7-7F2755274850</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>link</key>
					<string>{query}/edit/master/README.md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AEABCB9D-9232-43D3-8640-84C9451203E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Details on how to use this workflow are found in the GitHub repo attached to the workflow. 

Double click this workflow in sidebar -&gt; Open website.

Post any issues and feature requests you have there. 💜</string>
	<key>uidata</key>
	<dict>
		<key>05C2CDF4-B8F6-48B5-9DCC-75AC001E1500</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>0AFED35D-0B15-4070-A6C4-E762A091EC86</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>238CAD6B-EF29-4AF9-8A6D-A45407BBC0CE</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2C61650C-01F2-4BC7-AAE0-8C31508A2833</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>3E3F5B1F-5EA1-4271-952C-1B1897B454DE</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3E8C3225-79D1-43C3-A4E3-583E4B6B152F</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>4F774142-7D29-4E25-8B08-5CCEAA253E53</key>
		<dict>
			<key>note</key>
			<string>Search lists</string>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>60D56C11-AA30-44D1-82E2-67C0A0B87073</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>62FC303E-01BA-430E-BC35-C7365486A097</key>
		<dict>
			<key>note</key>
			<string>View contributing guidelines</string>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>72B1AA05-3281-415B-9252-9036D705817A</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>790627A4-87DA-408A-BC71-90FA3D9CDF36</key>
		<dict>
			<key>note</key>
			<string>Search topics</string>
			<key>xpos</key>
			<integer>225</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A2A341B0-792A-43F0-A4F7-7F2755274850</key>
		<dict>
			<key>note</key>
			<string>Edit list</string>
			<key>xpos</key>
			<integer>755</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>AEABCB9D-9232-43D3-8640-84C9451203E0</key>
		<dict>
			<key>xpos</key>
			<integer>665</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>C7FE3DF8-D5CD-4468-8CE0-BB050EF48F17</key>
		<dict>
			<key>xpos</key>
			<integer>505</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.5.2</string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev/alfred-learn-anything</string>
</dict>
</plist>
