<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikivi.research</string>
	<key>category</key>
	<string>productivity</string>
	<key>connections</key>
	<dict>
		<key>878FFC21-35C9-451F-9DC9-02FACC0BEAD6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C3EEFA9C-3355-4A41-BA0F-8578FF6B4AB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3EEFA9C-3355-4A41-BA0F-8578FF6B4AB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA079DC5-416F-495C-B67D-95AEE3389338</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nikivi</string>
	<key>description</key>
	<string>search through all my web mind maps, thank you Vitor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>a: research</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>79</integer>
				<key>hotmod</key>
				<integer>8388608</integer>
				<key>hotstring</key>
				<string>F18</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>878FFC21-35C9-451F-9DC9-02FACC0BEAD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>IFS=$'\n'

echo "&lt;?xml version='1.0'?&gt;&lt;items&gt;"
for line in $(grep --extended-regexp '\[.+\]\(.+\)' &lt; "research.md"); do
  sed -E "s|.*\[(.+)\]\((.+)\).*|&lt;item arg='\2' valid='yes'&gt;&lt;title&gt;\1&lt;/title&gt;&lt;/item&gt;|" &lt;&lt;&lt; "${line}"
done
echo "&lt;/items&gt;"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C3EEFA9C-3355-4A41-BA0F-8578FF6B4AB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EA079DC5-416F-495C-B67D-95AEE3389338</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Big thank you to Vitor. (https://www.alfredforum.com/topic/10045-is-there-an-way-i-can-convert-a-markdown-file-of-hyperlink-into-a-script-filter-output/#comment-50546) 💚

Without whom this workflow wouldn't exist.</string>
	<key>uidata</key>
	<dict>
		<key>878FFC21-35C9-451F-9DC9-02FACC0BEAD6</key>
		<dict>
			<key>note</key>
			<string>change hotkey to what you prefer</string>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>C3EEFA9C-3355-4A41-BA0F-8578FF6B4AB3</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>EA079DC5-416F-495C-B67D-95AEE3389338</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://github.com/nikitavoloboev</string>
</dict>
</plist>
